body {
  background-color: #ffffff;
}

img {
  width: 1300px;
  height: 450px;
  margin-top: 0.05em;

}

#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* h3{
  color: pink;
  font-family:sans-serif;
  text-align: left;
  padding-left: 3em;
} */
h1{
  text-align:center;
  /* padding-left: 1em; */

}

header {
  text-align: center;
}

nav{
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
text-align: center;
margin-top: 1.5em;
}

nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
padding-left: 15em;
}

nav li{
  background-color: #9d9d9c;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
  width: 60%;



}

nav li a {
  color: #000000;
  text-decoration: none;
}

.mobile {
  display: inline;
}

.desktop {
  display: inline;
}




main  {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  /* border-radius: 2em 0 2em 0; */
  /* background-color: #ffffff; */
  opacity: 0.85;
}
h2{
  border-radius: 0 2em 0 2em;
  background-color: #FF1493;
  width: 40%;
  padding-left: 2em;
  color: white;
}
/* .heading{
  border-radius: 0 2em 0 2em;
  background-color: #ffffff;
} */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #000000;
}

footer a {
  color: #000000;
  text-decoration: none;
}
.tablet {
  display: none;
}

.equip {
  display: none;
  float: left;
}


<style>
* {
  box-sizing: border-box;
}


.column {
  float: left;
  padding: 10px;

}

.le {
  width: 75%;
  margin-top: 3em;
}


.ri {
  width: 20%;
  margin-left: 1em;
  margin-top: 3em;
  border-radius: 2em 2em 2em 2em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

@media only screen and (min-width: 864px){
  #container{
    background-color: #1d1d1c;
    }

/* img{
  max-width: 100%;
} */

    nav ul {
        margin: 0;
        padding-left: 0.5%;
        padding-right: 0.5%;
      }


      nav li {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 20%;
      }


      nav li a {
        display: inline-block;
        padding: 0.7em;
        text-shadow: 0.2em 0.1em #3d3d35;
      }

      main {
        background-color: #1d1d1c;
      }

      main p {
      color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    body {
        background-color: #000000;
      }

      header {
      text-align: left;
    }

    nav {
    float: right;
    margin-right: 3em;
    margin-bottom: 0;
    width: 65%;
    margin-top: -7em;
  }

  /* figure img {
    background-color: #1d1d1c;
    display: inline;
    height: 8em;
    width: 28%;
    margin: 1%;
    padding: 1%
  }

  figure img:hover {
    opacity: 1;
  }

    figure a {
    padding: 0;
    background-color: transparent;
    text-decoration: none;
  } */

  footer {
    background-color: #2a2a2a;
    margin-top: -0.2em;
    padding: 2em;
    overflow: auto;
  }

  section {
    color: #ffffff;
    margin-left: 1em;
    padding-bottom: 5em;
  }

  section p {
    margin-left: 0;
  }

    /* .mobile {
      display: none;
    }

    .desktop {
      display: inline;
    } */
